.env
*.env
backend/.env
frontend/.env
frontend/.env.local

venv/
.venv/
backend/venv/
backend/.venv/

__pycache__/
*.pyc

node_modules/
frontend/node_modules/

dist/
frontend/dist/

frontend.zip
*.zip